body{
    font-family: 'Open Sans', Arial, sans-serif;
}
main {
  margin-top: 7%; 
}
/* Encabezado */
.header-img 
{
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 6%;
  height: auto;
  transition: width 0.3s;
}
.header-img.peque{
  width: 5%;
}
.encabezado {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1000;
  background-color: white;
}
/*Barra de navegacion / Menu*/
nav{
    border-bottom: solid 1px rgba(0, 0, 0, 0.151);
    font-weight: bold;
    background-color: white;
}
nav ul 
{
  display: flex;
  justify-content: center; 
  align-items: center;
  list-style: none;
  padding: 0;
  margin: 0;
  color:rgb(165, 42, 42);
}
nav ul li 
{
  margin: 0 10px;
}
.menuActive{
    color:rgb(155, 137, 36);
}
.submenu {
  display: none;
  position: absolute;
  width: 60%;
  top: 100%;
  padding-bottom: 1%;
  padding-top: 1%;
}
.submenu li {
  padding: 5px;
  border-bottom: solid 1px rgba(0, 0, 0, 0.123);
}
li:hover > .submenu {
    border-top: solid rgb(145, 115, 33) 3px;
    gap: 10px;
    background-color: rgb(240, 240, 240);
}
li:hover > #menuPrincipal.submenu{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    left: 20%;
}
li:hover > #menuSecundario.submenu{
    display: grid;
    grid-template-columns: 1fr;
    width: 15%;
}
.imgruta{
  background-color: seagreen;
}
.imgruta img{
    width: 100%;
    height: auto;
}
/*Tarjetas*/
.tarjeta{
    display: flex;
    flex-direction: column;
    color: #1f1f1f;
}
.tarjeta:hover > .tarjetaImg img{
    opacity: 0.2;
}
.iconoNuevo{
    position: absolute;
    background-color: rgb(145, 115, 33);
    border-radius: 50%;
    padding: 6px;
    width: 25px;
    height: 25px;
    z-index: -1;
}
.tituloTarjetas{
  text-align: center;
  font-weight: bold;
  font-size: 2.3em;
  margin: 20px 0;
  color: rgb(145, 115, 33);
}
.contenidoTarjetas{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 100px;
    margin-left: 12%;
    margin-right: 12%;
}
.tarjetaImg{
    width: 100%;;
    display: flex;
    justify-content: center;
    align-items: center;
}
.tarjetaImg img{
    width: 100%;
    display: flex;
        transition:opacity 0.3s;

}
.tarjetaTitulo{
    font-size: 1.2em;
    margin-top: 10px;
    color: rgb(145, 115, 33);
}
.tarjetaPrecio{
    display: flex;
    flex-direction: row;
    align-items: center;
}
.tarjetaPrecio p{
    margin: 0;
}
.precio{
    font-size: 1.5em;
    color: rgb(145, 115, 33);
}
.tarjetaDescripcion{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: start;
}
footer
{
  background-color: rgb(19, 0, 0);
  color: rgb(255, 248, 238);
  display: grid;
  grid-template-columns: repeat(4, 1fr);
}
footer p{
  color: rgb(145, 115, 33);
}
footer img{
  width: 75%;
  height: auto;
  margin-right: 10px;
}
footer a{
  color: rgb(255, 248, 238);
  text-decoration: none;
}
footer ul ::marker{
  color: rgb(145, 115, 33);
}
@media (max-width: 900px) {
  .contenidoTarjetas {
    grid-template-columns: repeat(2, 1fr);
    gap: 40px;
    margin-left: 4%;
    margin-right: 4%;
  }
  footer {
    grid-template-columns: repeat(2, 1fr);
  }
  nav ul {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
    text-align: center;
  }
  nav img{
    display: none;
  }
  main{
    margin-top: 8%;
  }
  .submenu {
    display: none;
    position: absolute;
    top: 62%;
    text-size-adjust: none;
    font-size: small;
  }
  li:hover > .submenu {
    border-top: solid rgb(145, 115, 33) 3px;
    gap: 10px;
    background-color: rgb(240, 240, 240);
  }
  li:hover > #menuPrincipal.submenu{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    left: 20%;
  }
  li:hover > #menuSecundario.submenu{
    display: grid;
    grid-template-columns: 1fr;
    width: 15%;
    left: 68%;
  }
}