body{
    font-family: 'Open Sans', Arial, sans-serif;
}
img {
  width: 115%;
  height: auto;
  display: block;
  margin-left: -10%;
}

.header-img 
{
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 12%;
  height: auto;
}
h1
{
  text-align: center;
  color: rgb(51, 47, 47);
  font-size: 30px;
  margin-top: 20px;
  margin-bottom: 20px;
}
nav ul 
{
  display: flex;
  justify-content: center; 
  align-items: center;
  list-style: none;
  padding: 0;
  margin: 0;
  color:brown

}
nav{
    border-bottom: solid 1px rgba(0, 0, 0, 0.151);
    margin-bottom: 50px;
    padding-bottom: 10px;
    font-weight: bold;
}
nav ul li 
{
  margin: 0 10px; 
}
nav ul li img 
{
  width: 100px;  
  height: 50px;  
  object-fit: contain;
}
.menuActive{
    color:rgb(133, 133, 15);
}
.submenu {
  display: none;
  position: absolute;
  width: 60%;
  
}
.submenu li {
  padding: 15px;
  border-bottom: solid 1px rgba(0, 0, 0, 0.123);
}
li:hover > .submenu {
    border-top: solid rgb(133, 133, 15) 3px;
    gap: 10px;
    background-color: rgb(240, 240, 240);
    
}
li:hover > #menuPrincipal.submenu{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    left: 20%;
}
li:hover > #menuSecundario.submenu{
    display: grid;
    grid-template-columns: 1fr;
    width: 15%;
}
.footer-content
{
    text-align: center;
    width: 110%;
    box-sizing: border-box;
    background-color: #3d2952;
    color: #d8d8d8;
}

.contenidoTarjetas{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
}

.tarjeta{
    display: flex;
    flex-direction: column;
    align-items:flex-start;
    border: solid red
}
.tarjetaImg{
    width: 100%;;
}
.material-symbols-outlined {
  font-variation-settings:
  'FILL' 0,
  'wght' 400,
  'GRAD' 0,
  'opsz' 24
}