:root{
    --color: #ff5400;
    --color-link-hover: #ffa700;
    --color-wishlist: #ff761b;
    --color-very-light: #b7b7b7;
    --color-light: #a8a8a8;
    --color-medium-light: #6d6d6d;
    --color-medium: #3d3d3d;
    --color-medium-dark: #323232;
    --color-dark: #272727;
    --color-very-dark: #1d1d1d;
    --color-ultra-dark: #101010;
    --fire-gradient: linear-gradient(10deg, #ff8a15, #ff3131);
    --fire-gradient-hover: linear-gradient(10deg, #ffac15, #ff3131);
}
.discount{
    background-color: var(--color);
    border-radius: 5px 5px 0;
    color: #fff;
    font-weight: 700;
    padding: 5px 6px 6px 7px;
    position: absolute;
    z-index: 2;
    bottom: -1px;
    left: -1px;
}
.discount:after {
    background-color: var(--color);
    border-radius: 6px 3px;
    bottom: 0;
    content: "";
    position: absolute;
    right: -4px;
    top: 0;
    transform: skewX(16deg);
    width: 100%;
    z-index: -1;
}
header .discount{
    position: relative;
}
body{
    background-color: rgb(29, 29, 29);
    margin: 0px;
    font-family: sans-serif;
}
p{
    margin: 0px;
}
h2{
    margin: 0px;
    font-weight: 100;
}
h1{
    font-weight: 100;
}
header{
    display: flex;
    height: 70vh;
    flex-direction: column;
    background-color: rgb(21, 17, 32);
    color: white;
    background-image: url(imagenes2/homepage-es.jpg);
    background-repeat: no-repeat;
    background-size:cover;
    background-position: center;
}
.encabezado{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding-left: 1em;
    padding-right: 1em;
    justify-content: center;
}
.encabezadoLogo{
    display: flex;
    align-items: center;
    position: fixed;
    top: 20px;
    left: 20px;
        z-index: 99999;

}
.encabezadoLogo img {
    height: 40px;
}
.encabezadoOpciones{
    margin: 1em 0 1em 0;
    display: flex;
    gap: 1.5em;
}
.encabezadoOpciones a{
    cursor: pointer;
    color: #fff;
    opacity: .8;
}
.encabezadoOpciones a:hover{
    opacity: 1;
    transition: all ease 0.3s;
}
.encabezadoCarrito{
    position: fixed;
    display: flex;
    gap: 1em;
    top: 10px;
    right: 10px;
    z-index: 99999;

}
.encabezadoCarrito img{
    height: 2em;
}
.navega{
    display: flex;
    align-items: center;
    justify-content: center;
    position: sticky;
    top: 5px;
    z-index: 99999;
}
.navegaContenido{
    position: relative;
    padding: 0.5em 1.5em 0.5em 1.5em;
    border-radius: 2em 0 0 2em;
    display: flex;
    background-color: rgba(54, 46, 46, 0.432);
    /*https://developer.mozilla.org/en-US/docs/Web/CSS/Reference/Properties/backdrop-filter*/
    backdrop-filter: blur(10px);
    gap: 1em;
}
.navegaContenidoEtiqueta{
    display: flex;
    align-items: center;
    gap: 0.5em;
    cursor: pointer;
    padding: 0.2em;
    border-radius: 1em;
}
.navegaContenidoEtiqueta:hover{
    background-color: #ffffff50;
    transition: all ease 0.3s;

}
.navegaBuscar{
    position: absolute;
    top: -0.2em;
    right: -2em;
    background:var(--fire-gradient);
    padding: 1em;
    border-radius: 100%;
}
.navegaBuscar img{
    height: 20px;
    width: 20px;
}
.inicio{
    display: flex;
    margin-top: 5%;
    margin-left: 10%;
}
.inicioTexto{
    display: flex;
    flex-direction: column;
}
.inicioPrecio{
    display: flex;
    align-items: center;
    gap: 1em;
}
.iniciooPrecioDesc{
    background-image: url(imagenes/etiqueta.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    padding: 1em;
}
main{
    background-color: rgb(29, 29, 29);
    padding-top: 3%;
    padding-bottom: 3%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.mainTitulo{
    padding-left: 5%;
    color: white;
    font-size: larger;
}
.mainTitulo span{
    color: rgb(179, 179, 179);
}
.contenedorTarjetas{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    width: 80%;
    height: 100%;
}
.tarjeta{
    display: flex;
    flex-direction: column;
    padding: 1em;
    color: white;
}
.tarjeta img{
    width: 100%;
    border-radius: 1em;
}
.tarjeta video{
    width: 100%;
    border-radius: 1em;
}
.tarjeta:hover{
    scale: 1.05;
    transition: all ease 0.3s;
}
.tarjeta:hover .discount{
    opacity: 0;
    transition: all ease 0.3s;
}
.tarjetaContenido{
    display: flex;
    flex-direction: column;
    position: relative;
}
.tarjetaPrecio{
    display: flex;
    justify-content: space-between;
    padding: 1em 0 0 1em;
}

.tarjetaReserva{
    display: flex;
    gap: 1em;
    padding-left: 1em;
    padding-top: 0.5em;
    color: #478eff;
    font-size: small;
    align-items: center;
}
.tarjetaReserva span{
    padding: 5px;
    border: solid 1px #478eff;
    border-radius: 0.5em;
}
.mainBarra{
    display: grid;
    width: 100%;
    grid-template-columns: repeat(4, 1fr);
    background-color: rgb(15, 15, 15);
    color: white;
    padding: 1em 0 1em 0; 
    margin: 1em 0 1em 0;
}
.barraContenido{
    display: flex;
    align-items: center;
    gap: 1em;
    border-right: solid 1px rgba(128, 128, 128, 0.226);
    padding: 1em;
}
.barraContenidoIcono{
    height: 40px;
    width: 40px;
    background: var(--fire-gradient);
    mask-position: center;
    mask-repeat: no-repeat;
    mask-size: contain;
    flex: 0 0 40px;

}
.iconoDownload{
    mask-image: url(imagenes2/icon-download.svg);
}
.iconoCliente{
    mask-image: url(imagenes2/icon-customer-support.svg);
}
.iconoSeguro{
    mask-image: url(imagenes2/icon-secure.svg);
}
.barraContenido p{
    color: grey;
}
.barraEstrellas{
    display: flex;
    align-items: center;
    justify-content: center;
}
.regalo{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-self: center;
    width: 75%;
    background-color: rgb(39, 39, 39);
    border-radius: 1em;
    padding: 2em;
    color: white;
}
.tarjetasRegalo{
    display: flex;
    position: relative;
    gap: 1em;
}

.tarjetaRegalo{
    position: relative;
    scale: 0.7;
}

.regalo img{
    border-radius: 1em;
    width: 100%;
}
.regalo p{
    color: grey;
    margin-bottom:1em ;
}
#regaloPrincipal{
    position: absolute;
    z-index: 999;
    top: 0;
    left: 25%;
    scale: 1;
    color: red;
}
.tarjetaRegalo p{
    position: absolute;
    color: red;
    top: 63%;
    left: 44%;
}
.regalo button{
    background-color: orangered;
    border: none;
    border-radius: 0.5em;
    padding: 1em;
    color: white;
}
.valoraciones{
    display: grid;
    grid-template-columns: repeat(5,1fr);
    margin: 1em 0 1em 0;
    padding: 2em;
    gap: 1em;
}
.valoracion{
    display: flex;
    flex-direction: column;
    padding: 1em;
    background-color: rgb(54, 54, 54);
    border-radius: 1em;
    height: 150px;
    color: white;
}
.valoracionPerfil{
    display: flex;
    margin-bottom: 1em;
}
.valoracionpfp{
    height: 70px;
    border-radius: 100%;
}
.valoracionPerfil div{
    display: flex;
    padding-left:1em ;
    flex-direction: column;
    align-items: start;
    justify-content: center;
    gap: 0.5em;
}
.valoracionComentario{
    height: 100%;
    color: grey;
}
.juegosIndi{
    display: flex;
    color: white;
    width: 100%;
    height: 600px;
    background-color: #fff;
    background:url(imagenes2/deadcells.png);
    background-size: contain;
    background-repeat: no-repeat;
    padding-top: 1em;
    margin: 1em 0 1em 0;
}
.indiImagen{
    width: 50%;
    position: relative;
}
.indiImagen img{
    position: absolute;
    right: 20%;
    bottom: 10%;
    width: 50%;
    min-height: 400px;
    height: 80%;
}
.indiContenido{
    width: 50%;
}
.indiContenido h2{
    padding-left: 1em;
}
.indiContenido span{
    color: grey;
}
.indiJuegos{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    height: 90%;
}
.indiJuegos .tarjetaContenido{
    height: 100%;
}
.indiJuegos .tarjetaImagen{
    height: 100%;
}
.resenias{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    grid-template-rows: 1fr;
    margin: 1em 0 1em 0;
    padding: 2em;
    gap: 1em;
}
.resenia{
    background-color: rgb(50, 50, 50);
    border-radius: 1em;
    color: grey;
}
.resenia > img{
    border-radius: 1em 1em 0 0;
    width: 100%;
}
.resenia > div{
    padding: 1em;
    display: flex;
    flex-direction: column;
    gap: 1em;
}
.reseniaImagenes{
    display: flex;
    align-items: center;
    gap: 1em;
}
.reseniapfp{
    height: 70px;
    border-radius: 100%;
}
.reseniaTexto{
    height: 100px;
}
.noticias{
    display: flex;
    margin: 1em 0 1em 0;
    padding: 2em;
    flex-direction: column;
}
.noticia{
    display: flex;
    padding: 1em;
    border-bottom: solid 1px grey;
}
.noticia > img{
    width: 25%;
}
.noticia > div{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding-left: 1em;
}
.noticiaFecha{
    color: grey;
}
.noticiaTitulo{
    color: rgb(187, 187, 187);
}
.noticiaContenido{
    color: grey;
}
.noticiaFooter{
    display: flex;
    flex-direction: row;
    color: grey;
    gap: 1em;
    align-items: center;
}
.categorias{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 1em;
    margin: 1em 2em 1em 2em;
    width: 70%;
}
.categoria{
    display: flex;
    background-image: url(imagenes/elden\ ring.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    justify-content: end;
    align-items: end;
    border-radius: 1em;
    height: 200px;
}
.categoria:hover img{
    scale: 1.1;
    transform: translateY(-5%) translateX(-10%);
    transition: all ease 0.3s;

}
.categoria img{
    position: absolute;
    width: 30%;
    height: 105%;
    border-radius: 0 1em 1em 0;
}
.categoria p{
    position: absolute;
    top: 50%;
    left: 5%;
    color: white;
}
.faqs{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2em;
    margin: 1em 2em 1em 2em;
}
.faq{
    display: flex;
    flex-direction: column;
    position: relative;
    width: 60%;
    padding: 1em;
    background-color: rgb(50, 50, 50);
    border-radius: 0.5em;
    color: white;
}
.faqContenido{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}
.faqFuera{
    align-items: center;
    border: solid 1px rgb(70, 70, 70);
    padding: 1em;
    border-radius: 1em;
    height: 100px;
    display: none;
}
.faq:hover > .faqFuera{
    display: flex;
}
footer{
    display: flex;
    flex-direction: column;
}
.promocion{
    display: flex;
    background-color: rgb(50, 50, 50);
    color: white;
    align-items: center;
    padding: 1em 10% 1em 10%;
    justify-content: space-between;
}
.promocion > div{
    display: flex;
    gap: 1em;
}
.promocion p{
    color: grey;
}
.promocion img{
    height: 50px;
}
.promocionBoton{
    display: flex;
    border: none;
    padding: 1em;
    align-items: center;
    border-radius: 0.5em;
    background-color: orangered;
    color: white;
}
.footer{
    display: grid;
    grid-template-columns: 1fr 1fr 2fr;
    color: white;
    background-color: rgb(15, 15, 15);
    padding: 1em 10% 1em 10%;
}
.footerInfo ul{
    margin: 0px;
    padding: 0px;
    list-style: none;
    height: 100%;
}
.footerInfo li{
    display: flex;
    padding-bottom: 1em;
}
.footerRedes{
    display: flex;
    flex-direction: column;
}
.footerRedesImagenes{
    display: flex;
    justify-content: space-evenly;
}
.footerRedesImagenes img{
    height: 50px;
}
.footerRedesAplicaciones{
    display: flex;
    justify-content: space-evenly;
}
@media (max-width: 1200px) {

.valoraciones{
    grid-template-columns: 1fr 1fr 1fr;
}
.mainBarra{
    grid-template-columns: repeat(2, 1fr);
}
.categorias{
    grid-template-columns: repeat(2,1fr);
}
#regaloPrincipal{
    display: none;
}
#regaloSecundario{
    display: none;
}
.footer{
    grid-template-columns: 1fr;
}
}
@media (max-width : 800px){
    .valoraciones{
    grid-template-columns: repeat(2, 1fr);
}
    .resenias{
        grid-template-columns: repeat(2,1fr);
    }
    .noticia > img{
        display: none;
    }
        .inicioTexto{
        display: none;
    }
    .contenedorTarjetas{
        grid-template-columns: repeat(2, 1fr);
    }
    .footerRedesImagenes{
        display: none;
    }
    .footerRedesAplicaciones img{
        width: 30%;
    }
    .footer{
        padding: 0px;
    }
    .promocion{
        padding: 0px;
    }
    .indiImagen{
        display: none;
    }
    .indiContenido{
        width: 100%;
    }
}
@media (max-width : 500px){
    .valoraciones{
        grid-template-columns: 1fr;
    }
    .navega{
        display: none;
    }
    .encabezadoOpciones{
        display: none;
    }
    .resenias{
        grid-template-columns: 1fr;
    }
    .mainBarra{
        grid-template-columns: 1fr;
    }
    .categorias{
    grid-template-columns: 1fr;
    }
    .indiJuegos{
        grid-template-columns: 1fr;
    }
}
