body{
    background-color: rgb(29, 29, 29);
    margin: 0px;
}
p{
    margin: 0px;
}
h2{
    margin: 0px;
    font-weight: 100;
}
h1{
    font-weight: 100;
}
header{
    display: flex;
    height: 70vh;
    flex-direction: column;
    background-color: rgb(21, 17, 32);
    color: white;
    background-image: url(imagenes/arc_raider.jpg);
    background-repeat: no-repeat;
    background-size:contain ;
    background-position: right;
}
.encabezado{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding-left: 1em;
    padding-right: 1em;
    justify-content: center;
}
.encabezadoLogo{
    display: flex;
    align-items: center;
    position: fixed;
    top: 10px;
    left: 10px;
        z-index: 99999;

}
.encabezadoLogo img {
    height: 40px;
}
.encabezadoOpciones{
    display: flex;
    gap: 1em;
}
.encabezadoCarrito{
    position: fixed;
    top: 10px;
    right: 10px;
        z-index: 99999;

}
.encabezadoCarrito img{
    height: 2em;
}
.navega{
    display: flex;
    align-items: center;
    justify-content: center;
    position: sticky;
    top: 5px;
    z-index: 99999;
}
.navegaContenido{
    position: relative;
    padding: 0.2em 1.5em 0.2em 0.7em;
    border-radius: 1em 0 0 1em;
    display: flex;
    background-color: rgb(54, 46, 46);
    gap: 0.5em;
}
.navegaContenido img{
    height: 35px;
}
.navegaContenido img:hover{
    opacity: 0.5;
        transition: all ease 0.3s;

}
.navegaBuscar{
    position: absolute;
    top: 0em;
    right: -1em;
    background-color: rgb(255, 102, 0);
    padding: 0.5em;
    border-radius: 100%;
}
.navegaBuscar img{
    height: 20px;
}
.inicio{
    display: flex;
    margin-top: 5%;
    margin-left: 10%;
}
.inicioTexto{
    display: flex;
    flex-direction: column;
}
.inicioPrecio{
    display: flex;
    align-items: center;
    gap: 1em;
}
.iniciooPrecioDesc{
    background-image: url(imagenes/etiqueta.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    padding: 1em;
}
main{
    background-color: rgb(29, 29, 29);
    padding-top: 3%;
    padding-bottom: 3%;
}
.mainTitulo{
    padding-left: 5%;
    color: white;
    font-size: larger;
}
.mainTitulo span{
    color: rgb(179, 179, 179);
}
.contenedorTarjetas{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    width: 100%;
    height: 100%;
}
.tarjeta{
    display: flex;
    flex-direction: column;
    padding: 1em;
    color: white;
}
.tarjeta img{
    width: 100%;
    border-radius: 1em;
}
.tarjeta video{
    width: 100%;
    border-radius: 1em;
}
.tarjeta img:hover{
    scale: 1.1;
    transition: all ease 0.3s;
}
.tarjetaContenido{
    display: flex;
    flex-direction: column;
    position: relative;
}
.tarjetaPrecio{
    display: flex;
    justify-content: space-between;
    padding: 1em 0 0 1em;
}
.tarjetaDescuento{
    background-image: url(imagenes/etiqueta.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    padding: 1em;
    position: absolute;
    bottom: 0;
    border-bottom-left-radius: 1em;
    width: 1em;
    height: 0.3em;
    display: flex;
    justify-content: center;
    align-items: center;
}
.tarjetaReserva{
    display: flex;
    gap: 1em;
    padding-left: 1em;
    padding-top: 0.5em;
    color: blue;
    font-size: small;
    align-items: center;
}
.tarjetaReserva span{
    padding: 5px;
    border: solid 1px blue;
    border-radius: 0.5em;
}
.mainBarra{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    background-color: rgb(15, 15, 15);
    color: white;
    padding: 1em 0 1em 0; 
    margin: 1em 0 1em 0;
}
.barraContenido{
    display: flex;
    align-items: center;
    gap: 1em;
    border-right: solid 2px grey;
    padding: 1em;
}
.barraContenido img{
    height: 80px;
}
.barraContenido p{
    color: grey;
}
.barraEstrellas{
    display: flex;
    align-items: center;
    justify-content: center;
}
.regalo{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-self: center;
    width: 75%;
    background-color: rgb(39, 39, 39);
    border-radius: 1em;
    padding: 2em;
    color: white;
}
.tarjetasRegalo{
    display: flex;
    position: relative;
    gap: 1em;
}

.tarjetaRegalo{
    position: relative;
    scale: 0.7;
}

.regalo img{
    border-radius: 1em;
    width: 100%;
}
.regalo p{
    color: grey;
    margin-bottom:1em ;
}
#regaloPrincipal{
    position: absolute;
    z-index: 999;
    top: 0;
    left: 25%;
    scale: 1;
    color: red;
}
.tarjetaRegalo p{
    position: absolute;
    color: red;
    top: 63%;
    left: 44%;
}
.regalo button{
    background-color: orangered;
    border: none;
    border-radius: 0.5em;
    padding: 1em;
    color: white;
}
.valoraciones{
    display: grid;
    grid-template-columns: repeat(5,1fr);
    margin: 1em 0 1em 0;
    padding: 2em;
    gap: 1em;
}
.valoracion{
    display: flex;
    flex-direction: column;
    padding: 1em;
    background-color: rgb(54, 54, 54);
    border-radius: 1em;
    height: 150px;
    color: white;
}
.valoracionPerfil{
    display: flex;
    margin-bottom: 1em;
}
.valoracionpfp{
    height: 70px;
    border-radius: 100%;
}
.valoracionPerfil div{
    display: flex;
    padding-left:1em ;
    flex-direction: column;
    align-items: start;
    justify-content: center;
    gap: 0.5em;
}
.valoracionComentario{
    height: 100%;
    color: grey;
}
.juegosIndi{
    display: flex;
    color: white;
    background-color: rgb(50, 50, 50);
    padding-top: 1em;
    margin: 1em 0 1em 0;
}
.indiImagen{
    width: 30%;
}
.indiImagen img{
    width: 100%;
    min-height: 400px;
    height: 100%;
}
.indiContenido{
    width: 70%;
}
.indiContenido h2{
    padding-left: 1em;
}
.indiContenido span{
    color: grey;
}
.indiJuegos{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    height: 90%;
}
.indiJuegos .tarjetaContenido{
    height: 100%;
}
.indiJuegos .tarjetaImagen{
    height: 100%;
}
.resenias{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    grid-template-rows: 1fr;
    margin: 1em 0 1em 0;
    padding: 2em;
    gap: 1em;
}
.resenia{
    background-color: rgb(50, 50, 50);
    border-radius: 1em;
    color: grey;
}
.resenia > img{
    border-radius: 1em 1em 0 0;
    width: 100%;
}
.resenia > div{
    padding: 1em;
    display: flex;
    flex-direction: column;
    gap: 1em;
}
.reseniaImagenes{
    display: flex;
    align-items: center;
    gap: 1em;
}
.reseniapfp{
    height: 70px;
    border-radius: 100%;
}
.reseniaTexto{
    height: 100px;
}
.noticias{
    display: flex;
    margin: 1em 0 1em 0;
    padding: 2em;
    flex-direction: column;
}
.noticia{
    display: flex;
    padding: 1em;
    border-bottom: solid 1px grey;
}
.noticia > img{
    width: 25%;
}
.noticia > div{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding-left: 1em;
}
.noticiaFecha{
    color: grey;
}
.noticiaTitulo{
    color: rgb(187, 187, 187);
}
.noticiaContenido{
    color: grey;
}
.noticiaFooter{
    display: flex;
    flex-direction: row;
    color: grey;
    gap: 1em;
    align-items: center;
}
.categorias{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 1em;
    margin: 1em 2em 1em 2em;

}
.categoria{
    display: flex;
    background-image: url(imagenes/elden\ ring.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    justify-content: end;
    align-items: end;
    border-radius: 1em;
    height: 200px;
}
.categoria img{
    width: 30%;
    height: 105%;
    border-radius: 0 1em 1em 0;
}
.categoria p{
    position: absolute;
    top: 50%;
    left: 5%;
    color: white;
}
.faqs{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2em;
    margin: 1em 2em 1em 2em;
}
.faq{
    display: flex;
    flex-direction: column;
    position: relative;
    width: 60%;
    padding: 1em;
    background-color: rgb(50, 50, 50);
    border-radius: 0.5em;
    color: white;
}
.faqContenido{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}
.faqFuera{
    align-items: center;
    border: solid 1px rgb(70, 70, 70);
    padding: 1em;
    border-radius: 1em;
    height: 100px;
    display: none;
}
.faq:hover > .faqFuera{
    display: flex;
}
footer{
    display: flex;
    flex-direction: column;
}
.promocion{
    display: flex;
    background-color: rgb(50, 50, 50);
    color: white;
    align-items: center;
    padding: 1em 10% 1em 10%;
    justify-content: space-between;
}
.promocion > div{
    display: flex;
    gap: 1em;
}
.promocion p{
    color: grey;
}
.promocion img{
    height: 50px;
}
.promocionBoton{
    display: flex;
    border: none;
    padding: 1em;
    align-items: center;
    border-radius: 0.5em;
    background-color: orangered;
    color: white;
}
.footer{
    display: grid;
    grid-template-columns: 1fr 1fr 2fr;
    color: white;
    background-color: rgb(15, 15, 15);
    padding: 1em 10% 1em 10%;
}
.footerInfo ul{
    margin: 0px;
    padding: 0px;
    list-style: none;
    height: 100%;
}
.footerInfo li{
    display: flex;
    padding-bottom: 1em;
}
.footerRedes{
    display: flex;
    flex-direction: column;
}
.footerRedesImagenes{
    display: flex;
    justify-content: space-evenly;
}
.footerRedesImagenes img{
    height: 50px;
}
.footerRedesAplicaciones{
    display: flex;
    justify-content: space-evenly;
}
@media (max-width: 1200px) {

.valoraciones{
    grid-template-columns: 1fr 1fr 1fr;
}
.mainBarra{
    grid-template-columns: repeat(2, 1fr);
}
.categorias{
    grid-template-columns: repeat(2,1fr);
}
#regaloPrincipal{
    display: none;
}
#regaloSecundario{
    display: none;
}
.footer{
    grid-template-columns: 1fr;
}
}
@media (max-width : 800px){
    .valoraciones{
    grid-template-columns: repeat(2, 1fr);
}
    .resenias{
        grid-template-columns: repeat(2,1fr);
    }
    .noticia > img{
        display: none;
    }
        .inicioTexto{
        display: none;
    }
    .contenedorTarjetas{
        grid-template-columns: repeat(2, 1fr);
    }
    .footerRedesImagenes{
        display: none;
    }
    .footerRedesAplicaciones img{
        width: 30%;
    }
    .footer{
        padding: 0px;
    }
    .promocion{
        padding: 0px;
    }
    .indiImagen{
        display: none;
    }
    .indiContenido{
        width: 100%;
    }
}
@media (max-width : 500px){
    .valoraciones{
        grid-template-columns: 1fr;
    }
    .navega{
        display: none;
    }
    .encabezadoOpciones{
        display: none;
    }
    .resenias{
        grid-template-columns: 1fr;
    }
    .mainBarra{
        grid-template-columns: 1fr;
    }
    .categorias{
    grid-template-columns: 1fr;
    }
    .indiJuegos{
        grid-template-columns: 1fr;
    }
}
