body{
    height: 120vh;
    background-color: green;
    font-family: Archivo, sans-serif;
    margin: 0px;
}
main{
    display: flex;
    margin-top:160px ;
    overflow: hidden;
    width: 100%;
    flex-direction: column;
}
/*Cabecera general*/
header{
    top: 0px;
    left: 0px;
    position: fixed;
    height: 160px;
    background-color: white;
    width: 100%;
    overflow: hidden;
}
.headRedes{
    display: flex;
    justify-content: end;
    background-color: black;
    width: 100%;
    height: 30px;
    align-items: center;
}
.headRedesLogos{
    display: flex;
    align-items: center;
    height: 30px;
    gap: 10px;
    padding-right: 10px;
}
.headRedesLogo{
    height: 10px;
}
/*Barra de navegacion*/
.navRegiones{
    display: flex;
    margin-left: 100px;
    font-size: .875rem;
    font-weight: 500;
    height: 60px;
    text-align: center;
}
.navRegiones li{
    display: flex;
    align-items: center;
    height: 100%;
    padding-right: 15px;
}
.navRegiones ul{
    display: flex;
    align-items: center;
    list-style: none;
    margin: 0px;
    height: 100%;
}
#laKinliLogo{
    height: 120px;
    position: absolute;
    top: 8px;
    left: 30px;
    z-index: 5;
}
.navRegionesSubmenu{
    display: flex;
    background-color: black;
    height: 70px;
    color: white;
    position:absolute;
    left: 0;
    top: 90px;
    width: 75%;
}
.navRegionesSubmenu ul{
    display: none;
    align-items: center;
    list-style: none;
    gap: 15px;
    margin-left: 100px;
    width: 100%;
}
.navRegionesSubmenu ul ul{
    display: none;
}
.navRegiones li{
    height: 80%;
}
.navRegiones li:hover > .navRegionesSubmenu > ul{
    z-index: 2;
    display: flex;
    background-color: black;
}
.navRegiones > ul > li:hover{
    border-bottom: solid 11px goldenrod;
}
.navRegiones li:hover #active > .navRegionesSubmenu >ul{
    display: none;
}
#active > .navRegionesSubmenu > ul{
    display: flex;
    z-index: 1;
}
#active{
    color: goldenrod;
}
.navLogos{
    display: flex;
    position: absolute;
    z-index: 100;
    right: 2%;
    top: 40px;
    gap: 10px;
}
.navLogos select{
    border: none;

}
.navLogos img{
    height: 35px;
}
.navBotones{
    display: flex;
    position: absolute;
    right: 0%;
    padding-right:1% ;
    gap: 15px;
    background-color: black;
    height: 70px;
    width: 100%;
    top: 90px;
    align-items: center;
    justify-content: end;

}
.navBotones button{
    height: 50px;
    width: 100px;
    border: none;
    border-radius: 10px;
    color: white;
    background-color: rgb(36, 36, 36);
    z-index: 5;
    transition: background-color 0.2s;
}
#navBotonesTienda{
    background-color: goldenrod;
    color: black;
    transition: background-color 0.2s;

}
#navBotonesTienda:hover{
    background-color: rgb(216, 179, 87);
}
.navBotones button:hover{
    background-color: rgb(61, 61, 61);
}
.barraDecoracion{
    width: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
}
.barraDecoracionBrasil{
    display: flex;
    justify-content: center;
    background-image: url('https://cms-es.kingsleague.pro/wp-content/uploads/2025/10/KWCN26-BANNER-1992x176-DESK-fondo.png');    
    background-repeat: no-repeat;
    width: 100%;
    background-position: 50%;
    background-size: cover;
}
.barraDecoracionLetras{
    display: flex;
}
.fecha{
    background-color: black;
    color: white;
    padding: 10px;
    font-size: .75rem;
    font-weight: 500;
    line-height: 1rem;
}
.fecha em{
    color: grey;
    font-style: normal;
    border: solid 1px grey;
    border-radius: 5px;
    padding-left: 5px;
    padding-right: 5px;
}
.tarjetas{
    display: flex;
    background-color: black;
    color:white;
}
.tarjeta{
    height: 148px;
    width: 140px;
    padding: 10px;
    background-color: black;
    color: white;
    padding: 10px;
}
.tarjetaTitulo{
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: .75rem;
    font-weight: 500;
    line-height: 1rem;
    padding-bottom: 8px;
    border-bottom: solid 1px grey;
}
.tarjetaTitulo p{
    margin: 0;
    width: auto;
}
.tarjetaTituloGrupo{
    justify-self: flex-end;
    border: 1px solid goldenrod;
    color: goldenrod;
    padding-left: 6px;
    padding-right: 6px;
    border-radius: .25rem;
    font-size: 10px;
}
.tarjetaContenido{
    display: grid;
    margin-top: 16px;
    column-gap: .375rem;
    grid-template-columns: 1fr 40px;
    text-align: center;
}
.tarjetaContenidoEquipo{
    display: grid;
    grid-template-columns: 1fr 1fr;
}
.tarjetaContenidoEquipo div{
    display: flex;
    align-items: center;
}
.tarjetaContenidoEquipoEscudo{
    padding-top: 4px;
    padding-bottom: 4px;
    padding-left: 6px;
    padding-right: 6px;
}
.tarjetaContenidoEquipoEscudo img{
    width: 40px;
}
.tarjetaContenidoPuntuacionLocal{
    display: flex;
    grid-area: 1/2;
    align-items: center;
    justify-content: center;
    background-color: #111111;
    border-radius: 10px 10px 0px 0px;
}
.tarjetaContenidoPuntuacionVisitante{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #111111;
    border-radius: 0px 0px 10px 10px;
}