:root{
    --colorBlanco:#c9d8fa;
    --colorAzul:#015aa3;
    --colorVerde:#08d332;
    --colorNaranja:#f4a321;
    --colorRojo:#f23c25;
}
body{
    margin: 0px;
    font-family:Ubuntu,sans-serif;
}
nav{
    display: flex;
    flex-direction: row;
    background-color: var(--colorAzul);
    color: var(--colorBlanco);
    justify-content: space-between;
    padding-left:10% ;
    padding-right:10%;
    font-size: large;
}
ul{
    list-style: none;
    display:flex;
    flex-direction: row;
    gap:25px;
}
main{
    padding-left: 10%;
    padding-right: 10%;
}
.tituloBarra{
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0px;
}
.tituloBarra :nth-child(1){
    margin: 0px;
}
.contenedor{
border-radius: 10px;
box-shadow: grey 0px 0px 15px 0px;
padding: 16px;
margin-bottom: 32px;
}
table{
    height: 50px;
    width: 100%;
    border-spacing: 0px;
}
table th{
    height: 50px;
    width: 4.16%;
    padding: 0px;
}
.verde{
    color: var(--colorVerde);
}
.rojo{
    color:var(--colorRojo);
}
.naranja{
    color: var(--colorNaranja);
}
.fondoVerde{
    background-color: var(--colorVerde);
}
.fondoNaranja{
    background-color: var(--colorNaranja);
}
.fondoRojo{
    background-color: var(--colorRojo);
}
#precio{
    justify-self: center;
}
.contenedorMedio{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-bottom: 32px;
}
.contenedorMedio .contenedor{
    margin: 0px;
    width: 25%;
}
.infoPrecio{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.infoPrecio p{
    margin: 0px;
}
.infoPrecio p:nth-child(1){
    font-size: xx-large;
    font-weight: bold;
}
.pepe{
    background-color: black;
}
#lista{
    display: flex;
    flex-direction: column;
    align-items: center;
}
#lista >div{
    display: flex;
    align-items: center;
    flex-direction: row;
    width: 60%;
}
.listaPrecio{
    margin-left: auto;
}
.bolaColor{
    height: 20px;
    width: 20px;
    border-radius: 50%;
    border: none;
    margin-left: 10px;
    margin-right: 10px;
}